@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;



@layer utilities {

    html {
        @apply text-primary;
    }

    html, body, #root {
        @apply h-screen;
    }

    @variants hover, focus {
        .outline-auto {
            outline-style: auto;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .animate-fadeIn {
        animation: fadeIn 0.5s ease-in forwards;

    }
}